diffusers>=0.25.0
transformers>=4.30.0
accelerate>=0.25.0
safetensors
opencv-python
invisible-watermark>=0.2.0
torch
xformers
scipy
streamlit
pyngrok
huggingface_hub
#---------Task2 finetuning additions---------
bitsandbytes>=0.40.0      # MỚI: Tối ưu bộ nhớ 8-bit
peft              # MỚI: Thư viện quản lý LoRA
dataset           # MỚI: Xử lý dữ liệu
tqdm  # <-- Thêm dòng này vào cuối file
Pillow            # MỚI: Xử lý ảnh
#-------------------------------------------
requests # MỚI: Thư viện HTTP

ftfy
regex
git+https://github.com/openai/CLIP.git  # Thư viện CLIP gốc

matplotlib  # MỚI
tensorboard # MỚI